@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-progress-dark: #89ca79;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
